.red{
    background-color: red;
    color: white;
}
#head{
    background-color: blue;
    color: black;
}
.blue{
    background-color: yellow;
    color: blueviolet;
}
.yellow{
    background-color: black;
}
.orange{
    background-color: darkorchid;
}