* {margin:0;
  padding:0;
  }
li{
    padding: 0% 43px;
   
    display: inline;
    list-style: none;
}
header{
    background-color:darkslategray;
    color:rgba(220, 249, 5, 0.927);
    height: 40px;
    padding-top: 15px;
    

}
.box1{
    background-color: red;
    height: 80vh;
    width: 40vw;
    /* float: left; */
}
.box2{
    background-color: rgb(51, 0, 255);
    height: 80vh;
    width: 40vw;
    /* float: right; */
    }
.container{
    display: flex; 
    justify-content: space-between;
}
p{
    color: aqua;
    float: right;
    padding-right: 30px;
    font-size:larger; 
}
    

    
