*{
    margin: 0%;
    padding: 0;
}
ul{
    display: inline-grid;
    grid-template-columns: auto auto;
}
li{
    list-style: none;
    margin: 0 23px;
    padding: 22px 0;
}
header{
    background-color: black;
    color: white;
}
p{
    color: aqua;
    float: right;
    padding-right: 30px;
    font-size:larger;
    
}